form > input {
    height: 20px;
    padding: 5px;
    border-radius: 10px;
    border: 1px solid gray;
  }

  .heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    padding: 10px;
  }
  
  .form-container {
    position: relative;
    width: 400px;
    margin:  auto;
  }
  
  #submitButton {
    height: 30px;
    border-radius: 10px;
    border: 0px;
  }
  
  #submitButton:hover {
    background-color: orange;
  }
  
  form {
    width: 90%;
    padding: 10px;
    margin: auto;
    display: grid;
    align-items: center;
    justify-content: center;
    grid-template-columns: 90%;
    row-gap: 20px;
    background-color: antiquewhite;
    border-radius: 10px;
  }