.requests-grid {
    min-width: 100%;
    display: grid;
    
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    border: 3px solid #643B9F;
    text-align: left;
    row-gap: 10px;
    background-color: white;
}

.row-data {
    background-color: lightblue;
}

#filter {
    position: relative;
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 27px;
    justify-content: left;
    align-items: center;
}

.remove-filter::after {
    content: "Remove Filter";
}

.show-all::before {
    content: "Show All";
}